################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transport Robots/Assets/TextMesh Pro
*.meta
